<!DOCTYPE html>
{# templates/Inscription.html.twig #}

<html>
	<head>
		<meta charset="UTF-8">
		<title>Inscription</title>
	</head>
	<body>
		<h1>Inscription</h1>
		<p>Vous avez déjà un compte ?
			<a href="{{ path('Connexion') }}">Connectez-vous</a>
		</p>
	</body>
</html>
