<html>
	<body>
		<nav>
			<h1>lecoinbon</h1>
			<a href="{{ path('Profil') }}">Profil</a>
			<a href="{{ path('Panier') }}">Panier</a>
			<form action="" method="GET">
				<input type="text" name="rechercher" placeholder="Rechercher...">
				<select name="choix">
					<option value="*">tout</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<button type="submit">Rechercher</button>
			</form>
		</nav>
		<br>
		<a href="{{ path('Article') }}">Article</a>
	</body>
</html>
